<form>
  <div>
    <table style="margin-top: 10px">
      <thead style="text-align: center">
        <td>MOIS</td>
        <td>Date</td>
        <td>AG</td>
        <td>Poids</td>
        <td colspan="5">Urines</td>
        <td>Examens particuliers</td>
        <td>HU / PO</td>
        <td>MF</td>
        <td>RCF</td>
        <td>CU</td>
        <td>TV</td>
        <td>Remarques / Observations / Traitement</td>
      </thead>

      <thead style="text-align: center">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>P</td>
        <td>G</td>
        <td>L</td>
        <td>N</td>
        <td>pH</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </thead>

      <tr class="mois-deux">
        <td rowspan="5">2</td>
        <td><input type="date" class="form-control"></td>
        <td>6</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-deux">
        <td><input type="date" class="form-control"></td>
        <td>7</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-deux">
        <td><input type="date" class="form-control"></td>
        <td>8</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-deux">
        <td><input type="date" class="form-control"></td>
        <td>9</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-deux">
        <td><input type="date" class="form-control"></td>
        <td>10</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-trois">
        <td rowspan="5">3</td>
        <td><input type="date" class="form-control"></td>
        <td>11</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-trois">
        <td><input type="date" class="form-control"></td>
        <td>12</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-trois">
        <td><input type="date" class="form-control"></td>
        <td>13</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-trois">
        <td><input type="date" class="form-control"></td>
        <td>14</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-trois">
        <td><input type="date" class="form-control"></td>
        <td>15</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-quatre">
        <td rowspan="4">4</td>
        <td><input type="date" class="form-control"></td>
        <td>16</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-quatre">
        <td><input type="date" class="form-control"></td>
        <td>17</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-quatre">
        <td><input type="date" class="form-control"></td>
        <td>18</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-quatre">
        <td><input type="date" class="form-control"></td>
        <td>19</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-cinq">
        <td rowspan="5">5</td>
        <td><input type="date" class="form-control"></td>
        <td>20</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-cinq">
        <td><input type="date" class="form-control"></td>
        <td>21</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-cinq">
        <td><input type="date" class="form-control"></td>
        <td>22</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-cinq">
        <td><input type="date" class="form-control"></td>
        <td>23</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-cinq">
        <td><input type="date" class="form-control"></td>
        <td>24</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-six">
        <td rowspan="4">6</td>
        <td><input type="date" class="form-control"></td>
        <td>25</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-six">
        <td><input type="date" class="form-control"></td>
        <td>26</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-six">
        <td><input type="date" class="form-control"></td>
        <td>27</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-six">
        <td><input type="date" class="form-control"></td>
        <td>28</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-sept">
        <td rowspan="4">7</td>
        <td><input type="date" class="form-control"></td>
        <td>29</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-sept">
        <td><input type="date" class="form-control"></td>
        <td>30</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-sept">
        <td><input type="date" class="form-control"></td>
        <td>31</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-sept">
        <td><input type="date" class="form-control"></td>
        <td>32</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-huit">
        <td rowspan="5">8</td>
        <td><input type="date" class="form-control"></td>
        <td>33</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="5"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-huit">
        <td><input type="date" class="form-control"></td>
        <td>34</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-huit">
        <td><input type="date" class="form-control"></td>
        <td>35</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-huit">
        <td><input type="date" class="form-control"></td>
        <td>36</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-huit">
        <td><input type="date" class="form-control"></td>
        <td>37</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <hr style="visibility: hidden">

      <tr class="mois-neuf">
        <td rowspan="4">9</td>
        <td><input type="date" class="form-control"></td>
        <td>38</td>
        <td><input type="text" class="form-control"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td rowspan="4"><input class="form-check-input" type="checkbox" style="margin-left: 15px"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-neuf">
        <td><input type="date" class="form-control"></td>
        <td>39</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-neuf">
        <td><input type="date" class="form-control"></td>
        <td>40</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

      <tr class="mois-neuf">
        <td><input type="date" class="form-control"></td>
        <td>41</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>

    </table>
  </div>

  <!--  BOUTON VALIDATION DEBUT -->
  <div class="form-group row" id="div-btn-validate">
    <div class="col-sm-10"
         style="margin-top: 20px"
         id="div-div-btn-validate">
      <button type="submit" class="btn btn-primary" id="btn-validate-page">Valider</button>
    </div>
  </div>

</form>
