h2 {
  margin-top: 20px;
}

#div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#div-div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#btn-validate-page {
  background-color: #fb9da8;
  border: 1px solid #fb9da8;
}
