h2 {
  margin-top: 20px;
}

#div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#div-div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#btn-validate-page {
  background-color: #fb9da8;
  border: 1px solid #fb9da8;
}

/* Mise en page générale */

.bilan-debut-content, .depistage, .hematologie, .serologie {
  background: #FBFBFB;
  border: solid 1px #DBDBDB;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.bilan-debut-content {
  margin-top: 20px;
}

.bilan-debut-content h2 {
  margin-top: 10px;
}

.serologie {
  padding-bottom: 12px;
}
