<form>

  <div class="bilan-debut">
    <div class="bilan-debut-content">
      <h2>Bilan de début de grossesse</h2>
      <div class="form-group row">
        <label for="taille" class="col-sm-2 col-form-label">Taille</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="taille" placeholder="Taille">
        </div>
      </div>

      <div class="form-group row">
        <label for="poids-avant" class="col-sm-2 col-form-label">Poids avant</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="poids-avant" placeholder="Poids avant">
        </div>
      </div>

      <div class="form-group row">
        <label for="icm" class="col-sm-2 col-form-label">ICM</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="icm" placeholder="ICM">
        </div>
      </div>

      <div class="form-group row">
        <label for="pointure" class="col-sm-2 col-form-label">Pointure</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pointure" placeholder="Pointure">
        </div>
      </div>
    </div>

    <div class="depistage">
      <h2>Examens de dépistage</h2>
        <div class="depistage-content">
          <div class="echo">
            <div class="form-group row">
              <label for="echo-un" class="col-sm-2 col-form-label">Echo 1</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="echo-un" placeholder="Echo 1">
              </div>
            </div>

            <div class="form-group row">
              <label for="echo-deux" class="col-sm-2 col-form-label">Echo 2</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="echo-deux" placeholder="Echo 2">
              </div>
            </div>

            <div class="form-group row">
              <label for="echo-trois" class="col-sm-2 col-form-label">Echo 3</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="echo-trois" placeholder="Echo 3">
              </div>
            </div>
          </div>

          <div class="detection-down">
            <div class="form-group row">
              <label for="test-combine" class="col-sm-2 col-form-label">Test combiné</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="test-combine" placeholder="Test combiné">
              </div>
            </div>

            <div class="form-group row">
              <label for="triple-test" class="col-sm-2 col-form-label">Triple test</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="triple-test" placeholder="Triple test">
              </div>
            </div>

            <div class="form-group row">
              <label for="ponction" class="col-sm-2 col-form-label">Ponction tropho / Amniocentèse</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="ponction" placeholder="Ponction tropho / Amniocentèse">
              </div>
            </div>
          </div>

          <div class="diabete">
            <div class="form-group row">
              <label for="glycemie" class="col-sm-2 col-form-label">Glycémie à jeûn</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="glycemie" placeholder="Glycémie à jeûn">
              </div>
            </div>

            <div class="form-group row">
              <label for="hgpo" class="col-sm-2 col-form-label">HGPO</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="hgpo" placeholder="HGPO">
              </div>
            </div>
          </div>

          <div class="cultures">
            <div class="form-group row">
              <label for="urine" class="col-sm-2 col-form-label">Urine</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="urine" placeholder="Urine">
              </div>
            </div>

            <div class="form-group row">
              <label for="frottis" class="col-sm-2 col-form-label">Frottis vaginal</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="frottis" placeholder="Frottis vaginal">
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="hematologie">
      <h2>Hématologie</h2>
      <table class="hematologie-content">
        <thead style="text-align: center">
          <td></td>
          <td>Premier déter.</td>
          <td>Deuxième déter.</td>
          <td>Gr Sg père</td>
        </thead>
        <tr>
          <td>Groupe sanguin</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>
        <tr>
          <td>Facteur rhésus</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>AC irréguliers</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Hémoglobine</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Ferritine</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>MCV</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Glob.blancs / CRP</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Coag. / Plaquettes</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Thyroïdes T4 / TSH</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Test hép.</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>

        <tr>
          <td>Fonction rénale</td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>
      </table>

      <div class="rhogam" style="margin-top: 10px">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">RHOGAM - Date :</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="date-rhogam">
          </div>
        </div>
      </div>

    </div>

    <div class="serologie">
      <h2>Sérologie</h2>
      <div class="serologie-content" style="text-align: center">
        <table>
          <thead>
            <td></td>
            <td>Premier semestre</td>
            <td>Deuxième semestre</td>
            <td>Troisième semestre</td>
          </thead>

          <tr>
            <td>Rubéole</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>CMV</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Fonction rénale</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Hépatite B</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Hépatite C</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Syphillis</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>VIH</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Parvovirus</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Varicelle</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Autres</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <!--  BOUTON VALIDATION DEBUT -->
  <div class="form-group row" id="div-btn-validate">
    <div class="col-sm-10"
         style="margin-top: 20px"
         id="div-div-btn-validate">
      <button type="submit" class="btn btn-primary" id="btn-validate-page">Valider</button>
    </div>
  </div>

</form>
