<div class="text-center" style="margin-top: 100px">
  <h2>Connexion</h2>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addonl">Nom</span>
    </div>
    <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon">Prénom</span>
    </div>
    <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="basic-addon">
  </div>

  <button class="btn btn-success"
          *ngIf="!authStatus"
          (click)="onSignIn()">Se connecter</button>
<!--  <button class="btn btn-danger"-->
<!--          *ngIf="authStatus"-->
<!--          (click)="onSignOut()">Se déconnecter</button>-->
</div>
