<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/femmeGauche.png" class="card-img-top" alt="femme gauche">
    </div>
    <div class="col-5">
      <h2 class="text-center">Site en cours de construction</h2>
    </div>
    <div class="col">
      <img src="assets/femmeDroite.png" class="card-img-top" alt="femme droite">
    </div>
  </div>
</div>


