<nav class="navbar navbar-light"
     style="background-color: #FDC0C8"
     *ngIf="showNavBar">

  <div class="container-fluid col-9">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="infos" style="color: #FFFFFF"
           class="nav-link"
           routerLinkActive="active">Informations générales</a>
      </li>
      <li class="nav-item">
        <a routerLink="grossesse" style="color: #FFFFFF"
           class="nav-link"
           routerLinkActive="active">Grossesse actuelle</a>
      </li>
      <li class="nav-item">
        <a routerLink="suivi" style="color: #FFFFFF"
           class="nav-link"
           routerLinkActive="active">Suivi de grossesse</a>
      </li>
      <li class="nav-item">
        <a routerLink="anamnese" style="color: #FFFFFF"
           class="nav-link"
           routerLinkActive="active">Anamnèse</a>
      </li>
    </ul>
  </div>

  <div class="btn-group col-3" role="group">
    <button class="btn btn-outline-success" type="button"
            routerLink="choice">Retour au menu</button>
    <button class="btn btn-outline-danger" type="button"
            routerLink="auth" (click)="onSignOut()">Déconnexion</button>
  </div>
</nav>
