.nav-item .active {
  background-color: #fb9da8;
}

.btn-outline-success {
  background-color: #FDC0C8;
  border: 1px solid #ff0080;
  color: #ff0080;
}

.btn-outline-danger {
  background-color: #FDC0C8;
  border: 1px solid #b30059;
  color: #b30059;
}

.btn-outline-success:hover {
  background-color: #ff0080;
  color: #FFFFFF;
}
.btn-outline-danger:hover {
  background-color: #b30059;
  color: #FFFFFF;
}
