.input-group {
  margin-bottom: 16px;
}

jw-modal {
  display: none;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal-content-flex {
  display: flex;
  flex-direction: column;
}

.infos-mere, .infos-pere, .infos-supplementaires {
  background: #FBFBFB;
  border: solid 1px #DBDBDB;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.infos-mere {
  margin-top: 20px;
}

.infos-mere h2 {
  margin-top: 10px;
}

#custom-modal-mere .card-img-top,
#custom-modal-pere .card-img-top,
#custom-modal-parite .card-img-top,
#custom-modal-regles .card-img-top {
  height: 500px;
  width: auto;
}

.btn-modal {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10px;
  width: 30%;
}

.btn-outline-secondary {
  background-color: #FDC0C8;
  border: 1px solid #FDC0C8;
  color: #FFFFFF;
}

.btn-outline-secondary:hover {
  background-color: #FFFFFF;
  color: #FDC0C8;
  border: 1px solid #FDC0C8;
}

#div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#div-div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#btn-validate-page {
  background-color: #fb9da8;
  border: 1px solid #fb9da8;
}
