<form>

<!--  INFORMATIONS MERE -->
  <div class="infos-mere">
    <h2>Pour la mère</h2>
    <div class="infos-mere-content">
      <div class="form-group row">
        <label for="nom-mere" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nom-mere" placeholder="Nom">
        </div>
      </div>

      <div class="form-group row">
        <label for="prenom-mere" class="col-sm-2 col-form-label">Prénom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="prenom-mere" placeholder="Prénom">
        </div>
      </div>

      <div class="form-group row">
        <label for="naissance-mere" class="col-sm-2 col-form-label">Date de naissance</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="naissance-mere">
        </div>
      </div>

      <div class="form-group row">
        <label for="adresse-mere" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="adresse-mere" placeholder="Adresse">
        </div>
      </div>

      <div class="form-group row">
        <label for="telephone-mere" class="col-sm-2 col-form-label">Téléphone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone-mere" placeholder="Téléphone">
        </div>
      </div>

      <div class="form-group row">
        <label for="mail-mere" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="mail-mere" placeholder="Email">
        </div>
      </div>

      <div class="form-group row">
        <label for="profession-mere" class="col-sm-2 col-form-label">Situation professionnelle</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="profession-mere" placeholder="Situation professionnelle">
        </div>
      </div>

      <div class="input-group row">
        <label for="famille-mere" class="col-sm-2 col-form-label">Situation familiale</label>
        <select class="custom-select" id="famille-mere" style="margin-left: 20px; border-radius: 5px">
          <option selected>Situation familiale ...</option>
          <option value="mariee">Mariée</option>
          <option value="couple">En couple</option>
          <option value="celibat">Célibataire</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
             (click)="openModal('custom-modal-mere')">Image</button>
        </div>
      </div>

      <!-- *************************************************************************************************************** -->
      <jw-modal id="custom-modal-mere">
        <div class="modal-content-flex">
          <img src="assets/etatCivil_original.jpg" class="card-img-top" alt="femme gauche">
          <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-mere')">Fermer</button>
        </div>
      </jw-modal>
      <!-- *************************************************************************************************************** -->

      <div class="form-group row">
        <label for="nationalite-mere" class="col-sm-2 col-form-label">Nationalité</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nationalite-mere" placeholder="Nationalité">
        </div>
      </div>
    </div>
  </div>

<!--  INFORMATIONS PERE -->
  <div class="infos-pere">
    <h2>Pour le père</h2>

    <div class="infos-pere-content">
      <div class="form-group row">
        <label for="nom-pere" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nom-pere" placeholder="Nom">
        </div>
      </div>

      <div class="form-group row">
        <label for="prenom-pere" class="col-sm-2 col-form-label">Prénom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="prenom-pere" placeholder="Prénom">
        </div>
      </div>

      <div class="form-group row">
        <label for="naissance-pere" class="col-sm-2 col-form-label">Date de naissance</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="naissance-pere">
        </div>
      </div>

      <div class="form-group row">
        <label for="adresse-pere" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="adresse-pere" placeholder="Adresse">
        </div>
      </div>

      <div class="form-group row">
        <label for="telephone-pere" class="col-sm-2 col-form-label">Téléphone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone-pere" placeholder="Téléphone">
        </div>
      </div>

      <div class="form-group row">
        <label for="mail-pere" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="mail-pere" placeholder="Email">
        </div>
      </div>

      <div class="form-group row">
        <label for="profession-pere" class="col-sm-2 col-form-label">Situation professionnelle</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="profession-pere" placeholder="Situation professionnelle">
        </div>
      </div>

      <div class="input-group row">
        <label for="famille-pere" class="col-sm-2 col-form-label">Situation familiale</label>
        <select class="custom-select" id="famille-pere" style="margin-left: 20px; border-radius: 5px">
          <option selected>Situation familiale ...</option>
          <option value="mariee">Mariée</option>
          <option value="couple">En couple</option>
          <option value="celibat">Célibataire</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
             (click)="openModal('custom-modal-pere')">Image</button>
        </div>
      </div>

      <!-- *************************************************************************************************************** -->
      <jw-modal id="custom-modal-pere">
        <div class="modal-content-flex">
          <img src="assets/etatCivil_original.jpg" class="card-img-top" alt="situation familiale">
          <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-pere')">Fermer</button>
        </div>
      </jw-modal>
      <!-- *************************************************************************************************************** -->

      <div class="form-group row">
        <label for="nationalite-pere" class="col-sm-2 col-form-label">Nationalité</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nationalite-pere" placeholder="Nationalité">
        </div>
      </div>
    </div>

  </div>

<!--  INFORMATIONS SUPPLEMENTAIRES -->
  <div class="infos-supplementaires">
    <h2>Informations complémentaires</h2>
    <div class="infos-supplementaires-content">
      <div class="form-group row">
        <label for="grossesse-actuelle" class="col-sm-2 col-form-label">Grossesse actuelle</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="grossesse-actuelle" placeholder="Grossesse actuelle">
        </div>
      </div>

      <div class="form-group row">
        <label for="gestite" class="col-sm-2 col-form-label">Gestité</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="gestite" placeholder="Gestité">
        </div>
      </div>

      <div class="input-group row">
        <label for="parite" class="col-sm-2 col-form-label">Parité</label>
        <input type="text" class="form-control" id="parite" placeholder="Parité"
               style="margin-left: 20px; border-radius: 5px">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
             (click)="openModal('custom-modal-parite')">Image</button>
        </div>
      </div>

      <!-- *************************************************************************************************************** -->
      <jw-modal id="custom-modal-parite">
        <div class="modal-content-flex">
          <img src="assets/nbEnfant.jpg" class="card-img-top" alt="parite">
          <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-parite')">Fermer</button>
        </div>
      </jw-modal>
      <!-- *************************************************************************************************************** -->

      <div class="input-group row">
        <label for="date-regles" class="col-sm-2 col-form-label">Date des dernières règles</label>
        <input type="date" class="form-control" id="date-regles" placeholder="Date des dernières règles"
                 style="margin-left: 20px; border-radius: 5px">
        <div class="input-group-append" style="height: 38px;">
          <button class="btn btn-outline-secondary" type="button"
             (click)="openModal('custom-modal-regles')">Image</button>
        </div>
      </div>

      <!-- *************************************************************************************************************** -->
      <jw-modal id="custom-modal-regles">
        <div class="modal-content-flex">
          <img src="assets/derniereRegle.jpg" class="card-img-top" alt="dernieres regles">
          <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-regles')">Fermer</button>
        </div>
      </jw-modal>
      <!-- *************************************************************************************************************** -->

      <div class="form-group row">
        <label for="terme-theorique" class="col-sm-2 col-form-label">Terme théorique</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="terme-theorique" placeholder="Terme théorique">
        </div>
      </div>

      <div class="form-group row">
        <label for="terme-corrige" class="col-sm-2 col-form-label">Terme corrigé</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="terme-corrige" placeholder="Terme corrigé">
        </div>
      </div>

      <div class="form-group row">
        <label for="preparation-naissance" class="col-sm-2 col-form-label">Préparation à la naissance</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="preparation-naissance" placeholder="Préparation à la naissance">
        </div>
      </div>

      <div class="form-group row">
        <label for="medecin" class="col-sm-2 col-form-label">Médecin traitant</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="medecin" placeholder="Médecin traitant">
        </div>
      </div>

      <div class="form-group row">
        <label for="gyneco" class="col-sm-2 col-form-label">Gynécologue</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="gyneco" placeholder="Gynécologue">
        </div>
      </div>
    </div>

  </div>

<!--  BOUTON VALIDATION DEBUT -->
  <div class="form-group row" id="div-btn-validate">
    <div class="col-sm-10"
         style="margin-top: 20px"
         id="div-div-btn-validate">
      <button type="submit" class="btn btn-primary" id="btn-validate-page">Valider</button>
    </div>
  </div>

</form>
