<div class="container">
  <div class="row text-center">
    <div class="card femmeGauche" style="width: 18rem;">
      <img src="assets/femmeGauche.png" class="card-img-top" alt="femme gauche">
      <div class="card-body">
        <h5 class="card-title">Enregistrer une nouvelle mère</h5>
        <a routerLink="/infos" class="btn btn-primary">Valider</a>
      </div>
    </div>

    <div class="card femmeDroite" style="width: 18rem;">
      <img src="assets/femmeDroite.png" class="card-img-top" alt="femme droite">
      <div class="card-body">
        <h5 class="card-title">Consulter le dossier d'une mère déjà enregistrée</h5>
        <a routerLink="/construct" class="btn btn-secondary">Valider</a>
      </div>
    </div>
  </div>
</div>
