/*jw-modal {*/
/*  display: none;*/
/*}*/
.jw-modal {
  /*display: none;*/
  position: fixed;
  top: 0;
  right: 30%;
  /*bottom: 0;*/
  left: 30%;
  z-index: 1000;
  overflow: auto;
  height: 800px;
  width: 40%;
}
.jw-modal .jw-modal-body {
  padding: 20px;
  background: #FFF;
  margin: 40px;
}
.jw-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

jw-modal .jw-modal-open {
  overflow: hidden;
}
