jw-modal {
  display: none;
}

h2 {
  margin-top: 20px;
}

.modal-content-flex {
  display: flex;
  flex-direction: column;
}

#custom-modal-assuetudes .card-img-top,
#custom-modal-medoc .card-img-top,
#custom-modal-obst .card-img-top {
  height: 500px;
  width: auto;
}

.btn-modal {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10px;
  width: 30%;
}

#div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#div-div-btn-validate {
  display: flex;
  justify-content: flex-end;
}

#btn-validate-page {
  background-color: #fb9da8;
  border: 1px solid #fb9da8;
}

/* Mise en page générale */

.anamnese-familiale,
.anamnese-perso,
.antecedents-medicaux,
.antecedents-chir,
.antecedents-obst {
  background: #FBFBFB;
  border: solid 1px #DBDBDB;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.anamnese-familiale {
  margin-top: 20px;
}

.anamnese-familiale h2 {
  margin-top: 10px;
}

.anamnese-familiale, .antecedents-medicaux, .antecedents-obst {
  padding-bottom: 12px;
}

#grossesse-ant {
  margin-top: 15px;
}

/* button ouverture modal */
.btn-outline-secondary {
  background-color: #FDC0C8;
  border: 1px solid #FDC0C8;
  color: #FFFFFF;
}

.btn-outline-secondary:hover {
  background-color: #FFFFFF;
  color: #FDC0C8;
  border: 1px solid #FDC0C8;
}

/* presentation paragraphes */
#div-assuetudes, #div-cigarette {
  margin-bottom: 15px;
}

.anamnese-perso-content, .antecedents-chir-content {
  margin-top: 10px;
}
