<form>
  <div>

    <div class="anamnese-familiale">
      <h2>Anamnèse familiale</h2>
      <table>
        <thead style="text-align: center">
          <td>HTA</td>
          <td>Diabète</td>
          <td>Maladies héréditaires</td>
          <td>Risques génétiques</td>
          <td>Risques congénitaux</td>
          <td>Grossesses multiples</td>
        </thead>
        <tr>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
          <td><input type="text" class="form-control" placeholder="..."></td>
        </tr>
      </table>
    </div>

    <div class="anamnese-perso">
      <h2>Anamnèse personnelle</h2>
      <div class="anamnese-perso-content">

        <div class="input-group row" id="div-assuetudes">
          <label for="assuetudes-m" class="col-sm-2 col-form-label">Assuétudes M :</label>
          <input type="text" class="form-control" id="assuetudes-m" placeholder="Assuétudes M"
                 style="margin-left: 20px; border-radius: 5px">
          <label for="assuetudes-p" class="col-sm-2 col-form-label">Assuétudes P :</label>
          <input type="text" class="form-control" id="assuetudes-p" placeholder="Assuétudes P"
                 style="margin-left: 20px; border-radius: 5px">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
               (click)="openModal('custom-modal-assuetudes')">Image</button>
          </div>
        </div>

        <!-- *************************************************************************************************************** -->
        <jw-modal id="custom-modal-assuetudes">
          <div class="modal-content-flex">
            <img src="assets/assuetudes.jpg" class="card-img-top" alt="assuetudes">
            <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-assuetudes')">Fermer</button>
          </div>
        </jw-modal>
        <!-- *************************************************************************************************************** -->

        <div class="input-group row" id="div-cigarette">
          <label for="cigarettes-m" class="col-sm-2 col-form-label">Cigarettes M :</label>
          <input type="text" class="form-control" id="cigarettes-m" placeholder="Cigarettes M"
                 style="margin-left: 20px; border-radius: 5px">
          <label for="cigarettes-p" class="col-sm-2 col-form-label">Cigarettes P :</label>
          <input type="text" class="form-control" id="cigarettes-p" placeholder="Cigarettes P"
                 style="margin-left: 20px; border-radius: 5px">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
                    (click)="openModal('custom-modal-cigarette')">Image</button>
          </div>
        </div>

        <!-- *************************************************************************************************************** -->
        <jw-modal id="custom-modal-cigarette">
          <div class="modal-content-flex">
            <img src="assets/assuetudes.jpg" class="card-img-top" alt="cigarette">
            <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-cigarette')">Fermer</button>
          </div>
        </jw-modal>
        <!-- *************************************************************************************************************** -->

        <div class="form-group row">
          <label for="allergie" class="col-sm-2 col-form-label">Allergies</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="allergie" placeholder="Allergies">
          </div>
        </div>

        <div class="form-group row">
          <label for="alimentation" class="col-sm-2 col-form-label">Alimentation</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="alimentation" placeholder="Alimentation"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="antecedents-medicaux">
      <h2>Antécédents médicaux</h2>
      <div class="antecedents-medicaux-content">
        <table>
          <thead style="text-align: center">
            <td></td>
            <td>Mère</td>
            <td>Père</td>
          </thead>

          <tr>
            <td>HTA</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Diabète</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Cardiopathie</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Thyroïde</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Varices / Phlébites / Embolie</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Médicaments</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <button class="btn btn-outline-secondary" type="button"
                    (click)="openModal('custom-modal-medoc')">Image</button>
          </tr>

          <!-- *************************************************************************************************************** -->
          <jw-modal id="custom-modal-medoc">
            <div class="modal-content-flex">
              <img src="assets/medoc.jpg" class="card-img-top" alt="medicaments">
              <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-medoc')">Fermer</button>
            </div>
          </jw-modal>
          <!-- *************************************************************************************************************** -->

          <tr>
            <td>Reins / Vessie</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Neurologie (épilepsie)</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Allergies</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Asthme</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Psy</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>

          <tr>
            <td>Transf. / Coag. / Sang</td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="antecedents-chir">
      <h2>Antécédents chirurgicaux</h2>
      <div class="antecedents-chir-content">
        <div class="form-group row">
          <label for="antecedent-chir" class="col-sm-2 col-form-label">Opérations, accidents, vécu / réactions, anesthésie / HH</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="antecedent-chir" placeholder="Antécédents chirurgicaux"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="antecedents-obst">
      <h2>Antécédents obstéricaux</h2>
      <div class="antecedents-obst-content">
        <table>
          <thead style="text-align: center">
            <td>IVG</td>
            <td>FC</td>
            <td>Césarienne</td>
            <td>Accouchement</td>
          </thead>
          <tr>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <button class="btn btn-outline-secondary" type="button"
                    (click)="openModal('custom-modal-obst')">Image</button>
          </tr>

          <!-- *************************************************************************************************************** -->
          <jw-modal id="custom-modal-obst">
            <div class="modal-content-flex">
              <img src="assets/cesarienne.jpg" class="card-img-top" alt="antécédents obstériques">
              <button class="btn btn-secondary btn-modal" (click)="closeModal('custom-modal-obst')">Fermer</button>
            </div>
          </jw-modal>
          <!-- *************************************************************************************************************** -->

        </table>

        <h3 id="grossesse-ant">Grossesses antérieures</h3>
        <table>
          <thead style="text-align: center">
            <td>Date</td>
            <td>Lieu</td>
            <td>Grossesse</td>
            <td>Terme</td>
            <td>Travail / Acc</td>
            <td>Sexe</td>
            <td>Prénom NN / Santé</td>
            <td>Poids (g)</td>
            <td>All / Post-partum</td>
          </thead>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
          <tr>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td>
              <select class="custom-select">
                <option selected>...</option>
                <option value="fille">Fille</option>
                <option value="garçon">Garçon</option>
              </select>
            </td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
            <td><input type="text" class="form-control" placeholder="..."></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!--  BOUTON VALIDATION DEBUT -->
  <div class="form-group row" id="div-btn-validate">
    <div class="col-sm-10"
         style="margin-top: 20px"
         id="div-div-btn-validate">
      <button type="submit" class="btn btn-primary" id="btn-validate-page">Valider</button>
    </div>
<!--    <button type="button" class="btn btn-secondary">Editer</button>-->
  </div>

<!--  <div class="btn-group" role="group" aria-label="Basic example">-->
<!--    <button type="button" class="btn btn-secondary">Left</button>-->
<!--    <button type="button" class="btn btn-secondary">Middle</button>-->
<!--    <button type="button" class="btn btn-secondary">Right</button>-->
<!--  </div>-->

</form>
